<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!--    <permission android:label="Receive Xposed Broadcast"-->
    <!--        android:name="dev.ujhhgtg.pandorasbox.permission.RECEIVE_XPOSED_BROADCAST" />-->
    <!--    <uses-permission android:name="dev.ujhhgtg.pandorasbox.permission.RECEIVE_XPOSED_BROADCAST" />-->

    <application
        android:name="com.highcapable.yukihookapi.hook.xposed.application.ModuleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PandorasBox">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PandorasBox">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pb" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.InputMapperEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.PandorasBox.FullScreen" />

        <service
            android:name=".services.CrosshairOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/overlay" />

        <service
            android:name=".services.AimBotService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/aim_bot" />

        <service
            android:name=".services.InputMapperService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/input_mapper" />

        <service
            android:name=".services.DlnaServerService"
            android:exported="false"
            android:foregroundServiceType="dataSync|connectedDevice"
            android:label="@string/dlna" />

        <service
            android:name=".services.DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync|connectedDevice"
            android:label="@string/download_manager" />

        <receiver
            android:name=".receivers.ScreenRotationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.StopServiceReceiver"
            android:exported="false" />

        <!--        <provider-->
        <!--            android:name="rikka.shizuku.ShizukuProvider"-->
        <!--            android:authorities="${applicationId}.shizuku"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:multiprocess="false"-->
        <!--            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--        <receiver android:name=".receivers.ForegroundAppChangeReceiver"-->
        <!--            android:exported="true"-->
        <!--            android:permission="dev.ujhhgtg.pandorasbox.permission.RECEIVE_XPOSED_BROADCAST">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="dev.ujhhgtg.pandorasbox.ACTION_FOREGROUND_APP_CHANGE" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Multi-purpose Xposed module." />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/module_scope" />

        <!--        <meta-data-->
        <!--            android:name="xposedsharedprefs"-->
        <!--            android:value="true"/>-->
    </application>
</manifest>